/* AsanoBBS - style.css */

/* for var */
:root {
  --header-height: 48px;
  --pcmenu-width: /*320*/0px;
}

body {
  height: 100%;
  width: 100%;
  background-color: lavenderblush;
  font-family: arial, sans-serif;
}

* {
  /* ios等の対策 */
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none;
  /* デフォルトの余白はなくしておく */
  margin: 0;
  padding: 0;
  /* 位置指定を許可 */
  position: relative;
}

/* リンクの装飾を無くす */
a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

/* 表の隙間を無くす&サイズを自動で調整しない */
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 16;
  background-color: #404040;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
  text-align: left;
}
header span {
  position: absolute;
  margin: 4px;
  height: var(--header-height);
  white-space: nowrap;
  overflow: hidden;
  top: 0;
}
#headertitle {
  font-size: calc(var(--header-height) - 8px);
  line-height: 100%;
  left: 0;
}
#headericon {
  right: 0;
}

/* main */
main {
  position: absolute;
  text-align: center;
  top: var(--header-height);
  padding: 48px calc(31.25% - 60px) 96px;
}
.pcmain {
  left: 0;
  right: var(--pcmenu-width);
  padding-left: calc(calc(calc(100% - var(--pcmenu-width)) * 0.3125) - 60px);
  padding-right: calc(calc(calc(100% - var(--pcmenu-width)) * 0.3125) - 60px);
}

/* menu */
#menu {
  position: fixed;
  display: block;
  background-color: white;
}
#menu * {
  padding: auto;
  background-color: green;
}
.pcmenu {
  width: var(--pcmenu-width);
  top: var(--header-height);
  right: 0;
  bottom: 0;
}
.mobilemenu {
  width: 75%;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 24;
}

/* icon */
img.icon {
  width: 40px;
  hight: 40px;
  object-fit: cover;
  border-radius: 50%;
}
img.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
img.icon:active {
  position: relative;
  top: 3px;
}

/* code */
code,
pre,
#debug {
  background-color: #292726;
  color: ivory;
  font-family: courier, monospace;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* input */
input,
button,
textarea,
select {
  /* font-familyを継承しないので、継承させる */
  font-family: inherit;
  /* iOSの角丸をリセット */
  border-radius: 0;
  /* box-size */
  box-sizing: border-box;
  /* 文字の大きさ iOSでズームさせないために16px以上を指定 */
  font-size: 16px;
}


/* 万能class */

.block {
  text-align: left;
  margin: 0 auto;
}

.hide {
  visibility: hidden;
  position: absolute;
}

.emphasis {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
