/* AsanoBBS - style.css */

/* for var */
:root {
  --header-height: 48px;
}

body {
  background-color: lavenderblush;
  font-family: arial, sans-serif;
  text-align: center;
  padding: calc(var(--header-height) + 48px) calc(31.25% - 60px) 96px;
}

* {
  /* ios等の対策 */
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none;
  /* デフォルトの余白はなくしておく */
  margin: 0;
  padding: 0;
}

/* リンクの装飾を無くす */
a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

/* footer */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 16;
  background-color: #404040;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
  text-align: left;
}
header table tr td {
  margin: 0;
  padding: 4px;
  height: var(--header-height);
  white-space: nowrap;
}
header table tr td.headertitle {
  overflow: hidden;
  position: relative;
  text-align: left;
  width: /*calc(100% - 48px)*/100px;
  background-color: red;
  font-size: calc(var(--header-height) - 8px);
}
header table tr td.headericon {
  text-align: right;
  width: 48px;
  background-color: green;
}

/* icon */
img.icon {
  width: 40px;
  hight: 40px;
  object-fit: cover;
  border-radius: 50%;
}
img.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
img.icon:active {
  position: relative;
  top: 3px;
}

/* code */
code,
pre,
#debug {
  background-color: #292726;
  color: ivory;
  font-family: courier, monospace;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* input */
input,
button,
textarea,
select {
  /* font-familyを継承しないので、継承させる */
  font-family: inherit;
  /* iOSの角丸をリセット */
  border-radius: 0;
  /* box-size */
  box-sizing: border-box;
  /* 文字の大きさ iOSでズームさせないために16px以上を指定 */
  font-size: 16px;
}


/* 万能class */

.block {
  text-align: left;
  margin: 0 auto;
}

.hide {
  visibility: hidden;
  position: absolute;
}

.emphasis {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
