/* AsanoBBS - style.css */

body {
  background-color: /*lavenderblush*/yellow;
  font-family: arial, sans-serif;
  text-align: center;
  padding: 40px calc(31.25% - 60px);
}

* {
  /* ios等の対策 */
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none;
}

/* icon */
img.icon {
  width: 40px;
  hight: 40px;
  object-fit: cover;
  border-radius: 50%;
}
img.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
img.icon:active {
  position: relative;
  top: 3px;
}

/* code */
code,
pre,
#debug {
  background-color: #292726;
  color: ivory;
  font-family: courier, monospace;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/* input */
input,
button,
textarea,
select {
  /* font-familyを継承しないので、継承させる */
  font-family: inherit;
  /* iOSの角丸をリセット */
  border-radius: 0;
  /* box-size */
  box-sizing: border-box;
  /* 文字の大きさ iOSでズームさせないために16px以上を指定 */
  font-size: 16px;
}


/* 万能class */

.block {
  text-align: left;
  margin: 0 auto;
}

.hide {
  visibility: hidden;
  position: absolute;
}

.emphasis {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
